@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["case"] = "Pipeline .NET Core App with KUBERNETES AND AKS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h5>Case 5: Implement CI/CD Pipeline for <strong>@ViewData["case"]</strong></h5>
    
</div>
